body {
    font-family: "Arial", sans-serif;
    padding: 20px;
    background-color: #e6d8ef;
    margin: 0;
}

/* NAV */
nav {
    background: #44004d;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

nav a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ffd6ff;
}

.logo-nav {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

/* TARJETAS */
.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

/* CONTENEDOR INICIAL */
.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-container img {
    width: 250px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

/* EFECTO FLOTANTE */
.floating {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-7px); }
    100% { transform: translateY(0px); }
}

/* Anuncio */
.anuncio {
    text-align: center;
}
